name: "stage deploy"
on:
  push:
    branches:
      - Master



jobs: 
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Authorize to GCP service account
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.DEPLOY_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1

      - name: Use gcloud CLI
        run: gcloud auth list --filter=status:ACTIVE --format="value(account)"
